.form-container {
  margin: 20px auto;
  width: 960px;
  height: 200px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.form-container input {
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
}

.form-container button {
  width: 200px;
  height: 40px;
  background-color: #55bc04;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
